[Unit]
Description=Clex
After=network.target
 
[Service]
Type=simple
ExecStart=%h/.local/bin/clex -interval weekly
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
